<%= render 'layouts/header' %>

<section class="main">
  <p class="login">Login</p>
  <div class="sign-in-form">
      <%= form_for(:session, url: login_path) do |f| %>
        <% if @alert %>
          <h3><%= @alert %></h3>
        <% end %>

        <div class="email">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="password">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <%= f.submit "Submit", class: "sign-in" %>
      <% end %>
  </div>
  <p class="new-user">New user? <%= link_to "Sign up now!", new_user_path %></p>
</section>
