<%= form_for(:session, url: login_path) do |f| %>
  <% if @alert %>
    <h3><%= @alert %></h3>
  <% end %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :emial %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
