<%= render 'layouts/header' %>

<div class="registration">
	<h1>Create profile</h1>
	<%= form_for @user, html: { multipart: true } do |f| %>
		<% if @user.errors.any? %>
			<h3><%= pluralize(@user.errors.count, "error") %> prevented this post from saving!</h3>
			<% @user.errors.full_messages.each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>

		<%= render(partial: 'form', locals: {f: f}) %>

			<div class="actions">
				<%= f.submit 'Create account'%>
			</div>
		</div>
	<% end %>
</div>
