<div>
	<%= form_for @user, url: {action: 'create'} do |f| %>
		<% if @user.errors.any? %>
			<h3><%= pluralize(@user.errors.count, "error") %> prevented this post from saving!</h3>
			<% @user.errors.full_messages.each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :fullname%>
			<%= f.text_field :fullname %>
		</p>

		<p>
			<%= f.label :screen_name%>
			<%= f.text_field :screen_name %>
		</p>

		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>

		<p>
			<%= f.label :bio %>
			<%= f.text_field :bio %>
		</p>

		<p>
			<%= f.label :rating %>
			<%= f.text_field :rating %>
		</p>

		<p>
			<%= f.label :zipcode %>
			<%= f.text_field :zipcode %>
		</p>

		<p>
			<%= f.label :age %>
			<%= f.text_field :age %>
		</p>

		<p>
			<%= f.label :gender %>
			<%= f.text_field :gender %>
		</p>

		<p>
			<%= f.label :handed %>
			<%= f.text_field :handed %>
		</p>

		<p>
			<%= f.submit 'Register' %>
		</p>
	<% end %>
</div>
