<%= render 'layouts/header' %>

<div class="container">
	<div class="registration">
		<h1>Create profile</h1>
		<%= form_for @user, url: {action: 'create'} do |f| %>
		<% if @user.errors.any? %>
		<h3><%= pluralize(@user.errors.count, "error") %> prevented this post from saving!</h3>
		<% @user.errors.full_messages.each do |error| %>
		<p><%= error %></p>
		<% end %>
		<% end %>

		<div class="left">
			<%= f.label :fullname %><br />
			<%= f.text_field :fullname%>
		</div>

		<div class="left">
			<%= f.label :email %><br />
			<%= f.email_field :email, required: "required" %>
		</div>

		<div class="left">
			<%= f.label :password %><br />
			<%= f.text_field :password %>
		</div>

		<div class="left">
			<%= f.label :screen_name %><br />
			<%= f.text_field :screen_name %>
		</div>

		<div class="bio">
			<%= f.label :bio %><br />
			<%= f.text_area :bio %>
		</div>

		<div class="left">
			<%= f.label :rating %><br />
			<%= f.text_field :rating %>
		</div>

		<div class="left">
			<%= f.label :zipcode %>
			<%= f.text_field :zipcode %>
		</div>

		<div class="left">
			<%= f.label :age %>
			<%= f.text_field :age %>
		</div>

		<div class="left">
			<%= f.label :gender %>
			<%= f.text_field :gender %>
		</div>

		<div class="left">
			<%= f.label :handed %>
			<%= f.text_field :handed%>
		</div>

		<div class="left">
			<%= f.submit 'Create account'%>
		</div>
		<% end %>
	</div>

	<div class="profile-pic">
		<button>Upload/Change Photo</button>
	</div>

</div>
