<%= render 'layouts/header' %>

<div class="registration">
	<h1>Create profile</h1>
	<%= form_for @user, html: { multipart: true } do |f| %>
		<% if @user.errors.any? %>
			<h3><%= pluralize(@user.errors.count, "error") %> prevented this post from saving!</h3>
			<% @user.errors.full_messages.each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>

		<div class="avatar">
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>

		<div class="fields">
			<div class="top">
				<%= f.label :fullname %><br />
				<%= f.text_field :fullname, required: "required" %>
			</div>

			<div class="top">
				<%= f.label :email %><br />
				<%= f.email_field :email, required: "required" %>
			</div>

			<div class="left">
				<%= f.label :password %><br />
				<%= f.text_field :password, required: "required"  %>
			</div>

			<div class="left">
				<%= f.label :screen_name %><br />
				<%= f.text_field :screen_name %>
			</div>

			<div class="bio">
				<%= f.label :bio %><br />
				<%= f.text_area :bio %>
			</div>

			<div class="left">
				<%= f.label :rating %><br />
				<%= f.text_field :rating %>
			</div>

			<div class="left">
				<%= f.label :zipcode %>
				<%= f.text_field :zipcode, required: "required"  %>
			</div>

			<div class="age">
				<%= f.label :age %>
				<%= f.text_field :age %>
			</div>

			<div class="gender">
				<%= f.label :gender %>
				<%= select_tag(:gender, options_for_select([['Male'], ['Female'], ['Other']], selected: :option )) %>
			</div>

			<div class="left">
				<%= f.label :handed %>
				<%= f.text_field :handed%>
			</div>
		</div>

		<div class="actions">
			<%= f.submit 'Create account'%>
		</div>
	<% end %>
</div>
