<%= render 'layouts/header' %>

<div class="posts edit">
  <h1>Update post</h1>
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving!</h3>
      <% @post.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-sm-8 inline-form col-md-offset-2">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 inline-form col-md-offset-2">
        <%= f.label "Description" %>
        <%= f.text_area :body, size: "40x5" %>
      </div>
    </div>

    <div class="col-sm-8 inline-form col-md-offset-2">
      <div class="col-xs-4">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </div>

      <div class="col-xs-4">
        <%= f.label :start_time %>
        <%= f.time_field :start_time, class: "form-control" %>
      </div>

      <div class="col-xs-4">
        <%= f.label :end_time %>
        <%= f.time_field :end_time, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
	    <div class="actions">
				<%= f.submit 'Update Post' %>
	    </div>
	  </div>
  <% end %>
</div>
