<%= render 'layouts/header' %>

<div class="posts edit">
  <h1>Update post</h1>
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving!</h3>
      <% @post.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-group">
	    <div class="actions">
				<%= f.submit 'Update Post' %>
	    </div>
	  </div>
  <% end %>
</div>
