<h3><%= link_to 'Create a post', new_post_path %></h3>

<div class="">
  <% if @posts %>
    <% @posts.each do |post| %>
      <h1><%= link_to post.title, post_path(post) %></h1>
      <p><%= post.body %></p>
      <% if post.date != nil %>
        <p><%= post.date.strftime("%A, %B %d, %Y") %></p>
      <% end %>
      <p><%= post.created_at.strftime("%A, %d, %Y")%></p>
    <% end %>
  <% end %>
</div>
