<% if logged_in? %>
  <%= link_to 'logout', logout_path %>
  <h3>Welcome back, <%= current_user.screen_name %>!</h3>
<% else %>
  <%= link_to 'sign in', new_session_path %> |
  <%= link_to 'register', new_user_path %>
<% end %>

<h3><%= link_to 'Create a post', new_post_path %></h3>

<% if @posts %>
  <% @posts.each do |post| %>
    <h1><%= link_to post.title, post_path(post) %></h1>
    <p><%= post.body %></p>
    <p>Posted <%= time_ago_in_words(post.created_at) %> ago</p>
  <% end %>
<% end %>
