<%= render 'layouts/header' %>

<h1>Create a new post</h1>
<div class="row">
  <%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
      <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving!</h3>
      <% @post.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
				<%= f.submit 'Save', class: "btn btn-primary" %>
	    </div>
	  </div>
  <% end %>
</div>
