<h1>Create a new post</h1>
<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving!</h3>
    <% @post.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>
  </p>

  <p>
    <%= f.label :end_time %>
    <%= f.time_field :end_time %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
    
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
