<h1>Check out this awesome post!</h1>
<h2><%= @post.title %></h2>
<p>
  <% if @post.start_time && @post.end_time %>
    <span>Between <%= @post.start_time.strftime("%l:%S %p") %></span> and <span><%= @post.end_time.strftime("%l:%S %p") %></span>
  <% end %>
</p>
<p>
  <%= @post.body %>
</p>
<p>Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
